.u-section-1 .u-sheet-1 {
  min-height: 698px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1294px;
  margin: 0 -77px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 698px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-shape-1 {
  margin-top: 0;
  margin-bottom: 0;
  height: 349px;
  margin-left: 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  animation-duration: 1000ms;
  align-self: center;
  margin: -198px auto 0;
  padding: 10px 40px 10px 39px;
}

.u-section-1 .u-shape-2 {
  height: 349px;
  margin-top: 151px;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  animation-duration: 1000ms;
  align-self: center;
  margin: -198px auto 0;
  padding: 10px 27px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 698px;
  animation-duration: 1000ms;
  background-image: linear-gradient(white, #e9f2fa);
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(128,128,128,1);
  animation-duration: 1000ms;
  font-family: "Roboto Condensed";
  font-weight: 700;
  font-size: 2.25rem;
  margin: 10px 572px 0 25px;
}

.u-section-1 .u-text-2 {
  margin: -25px 25px 0 880px;
}

.u-section-1 .u-group-1 {
  min-height: 611px;
  background-image: linear-gradient(white, #e9f2fa);
  width: 1071px;
  height: auto;
  margin: 34px 0 0 auto;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 488px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
    margin-right: 0;
    margin-left: 0;
    min-height: 306px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 507px;
  }

  .u-section-1 .u-shape-1 {
    margin-left: initial;
  }

  .u-section-1 .u-btn-1 {
    padding-left: 21px;
  }

  .u-section-1 .u-shape-2 {
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 507px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 296px;
    margin-left: 10px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 11px;
    margin-left: 604px;
  }

  .u-section-1 .u-group-1 {
    width: 799px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 32px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 109px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 417px;
  }

  .u-section-1 .u-group-1 {
    width: 612px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 132px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 37px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 345px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 145px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }
}